<ng-container *ngIf="actionCodeChecked" [ngSwitch]="mode">
  <!-- Reset Password -->
  <ng-container *ngSwitchCase="'resetPassword'">
    <p>{{ email }}</p>
    <input [(ngModel)]="newPassword" type="text" id="newPassword"
           name="newPassword" placeholder="New Password"> <br>
    <input [(ngModel)]="confirmPassword" type="text"
           id="confirmPassword" name="confirmPassword" placeholder="Confirm
    Password">
    <button (click)="handleResetPassword()">Confirm</button>
  </ng-container>
  <!-- Recover Email -->
  <ng-container *ngSwitchCase="'recoverEmail'">
  </ng-container>

  <!-- Verify Email -->
  <ng-container *ngSwitchCase="'verifyEmail'">
  </ng-container>
</ng-container>
