<label class="icon-upload">
    <div for="file-input">
        <i for="file-input" class="fas fa-paperclip fa-lg secondary-color icon"></i>
    </div>
    <input type="file" id="file-input" class="text-nowrap text-truncate" (change)="selectFile($event)" />
</label>
<div *ngIf="currentFileUpload" class="progress mt-2">
    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
        {{ percentage }}%
    </div>
</div>