<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            <i class="fas fa-edit"></i>
            Edit ticket
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="editTicket" (ngSubmit)="upadateForm()" *ngIf="site$ | async; else loading; let Site">
          <div class="form-row" *ngIf="auth.isSupporter(user)">
            <div class="form-group col-md-6">
              <label class="control-label" for="date">Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="Select a date" angular-mydatepicker name="date"
                  formControlName="date" [options]="myOptions" #dp="angular-mydatepicker">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                    <i class="fas fa-calendar"></i>
                  </button>
                </div>
                <div *ngIf="date.invalid && (date.dirty || date.touched)" class="danger-color">
                  <div *ngIf="date.errors.required">
                    Date is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="source">Source</label>
              <select name="source" formControlName="source" class="form-control" id="source">
                <option *ngFor="let source of Sources" [ngValue]="source.name">
                  {{ source.name }}
                </option>
              </select>
              <div *ngIf="source.invalid && (source.dirty || source.touched)" class="danger-color">
                <div *ngIf="source.errors.required">
                  Source is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" *ngIf="auth.isSupporter(user)">
            <div class="form-group col-md-6">
              <label for="site">Site Name</label>
              <input name="site" formControlName="siteName" class="form-control" id="site" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="creator" class="control-label">Creator</label>
              <select name="creator" formControlName="creator" class="form-control" id="creator">
                <option *ngFor="let user of getCreate()" [ngValue]="user">
                  {{ user }}
                </option>
              </select>
              <div *ngIf="creator.invalid && (creator.dirty || creator.touched)" class="danger-color">
                <div *ngIf="creator.errors.required">
                  Creator is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" *ngIf="auth.isSupporter(user)">
            <div class="form-group col-md-6">
              <label for="maintenancePackage">Maintenance Package</label>
              <input formControlName="maintenancePackage" type=text class="form-control" id="maintenancePackage"
                value="{{ getMaPackage() }}" placeholder="Maintenance Package" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="product">Product</label>
              <input type=text class="form-control" formControlName="product" placeholder="Product" readonly>
            </div>
          </div>
          <div class="form-row" *ngIf="auth.isSupporter(user)">
            <div class="form-group col-md-6">
              <label class="control-label" for="Type">Type</label>
              <select name="Type" formControlName="type" class="form-control" id="type">
                <option *ngFor="let type of Types" [ngValue]="type.name">
                  {{ type.name }}
                </option>
              </select>
              <div *ngIf="type.invalid && (type.dirty || type.touched)" class="danger-color">
                <div *ngIf="type.errors.required">
                  Type is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="priority">Priority</label>
              <select name="priority" formControlName="priority" class="form-control" id="priority">
                <option *ngFor="let priority of Prioritys" [ngValue]="priority.name">
                  {{ priority.name }}
                </option>
              </select>
              <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="danger-color">
                <div *ngIf="priority.errors.required">
                  Priority is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="module" class="control-label">Module</label>
              <ng-multiselect-dropdown class="container" [data]="moduleList" id="module" formControlName="module"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="form-row dropdownModule">
            <div class="form-group col-md-12">
              <label for="subject" class="control-label">Subject</label>
              <input formControlName="subject" type="text" class="form-control" id="subject" placeholder="Subject"
                required>
              <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="danger-color">
                <div *ngIf="subject.errors.required">
                  Subject is required.
                </div>
                <div *ngIf="subject.errors.maxlength">
                  Subject is less than 50 characters
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="description" class="control-label">Description</label>
              <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="danger-color">
                <div *ngIf="description.errors.required">
                  Description is required.
                </div>
                <div *ngIf="description.errors.maxlength">
                  Description is less than 500 characters
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" for="assign">Assign task to dev</label>
              <select name="assign" class="form-control" id="assign" (change)="assignDev(staff.firstName, ticket.status)">
                <option value="">choose dev...</option>
                <option *ngFor="let staff of Staff" [ngValue]="staff.firstName">
                  {{staff.firstName}} 
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="btn-group btn-save">
                <button type="submit" class="btn btn-success btn-block" [disabled]="!editTicket.valid">
                  Save
                </button>
              </div>
              <a [routerLink]="['/ticket']"><button class="btn btn-light btn-cancel" type="button"
                  *ngIf="auth.isSupporter(user)">Cancel</button></a>
              <a [routerLink]=" ['/site-ticket']"><button class="btn btn-light btn-cancel" type="button"
                  *ngIf="auth.isCustomer(user)">Cancel</button></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>