<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            <i class="fas fa-edit"></i>
            {{ title }}
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="editTicket" (ngSubmit)="upadateForm()" *ngIf="site$ | async; else loading; let Site">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-row" *ngIf="auth.isStaff(user)">
                <div class="form-group col-md-6">
                  <label class="control-label" for="date">Date</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="Select a date" angular-mydatepicker name="date"
                      formControlName="date" [options]="myOptions" #dp="angular-mydatepicker"
                      [readonly]="!auth.isSupporter(user)">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()"
                        [attr.disabled]="!auth.isSupporter(user)">
                        <i class="fas fa-calendar"></i>
                      </button>
                    </div>
                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="danger-color">
                      <div *ngIf="date.errors.required">
                        Date is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label" for="source">Source</label>
                  <select name="source" formControlName="source" class="form-control" id="source"
                    [attr.disabled]="!auth.isSupporter(user)? true : null">
                    <option *ngFor="let source of Sources" [ngValue]="source.name">
                      {{ source.name }}
                    </option>
                  </select>
                  <div *ngIf="source.invalid && (source.dirty || source.touched)" class="danger-color">
                    <div *ngIf="source.errors.required">
                      Source is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" *ngIf="auth.isStaff(user)">
                <div class="form-group col-md-6">
                  <label for="site">Site Name</label>
                  <input name="site" formControlName="siteName" class="form-control" id="site" readonly>
                </div>
                <div class="form-group col-md-6">
                  <label for="creator" class="control-label">Creator</label>
                  <select name="creator" formControlName="creator" class="form-control" id="creator"
                    [attr.disabled]="!auth.isSupporter(user)? true : null">
                    <option *ngFor="let user of getCreate()" [ngValue]="user">
                      {{ user }}
                    </option>
                  </select>
                  <div *ngIf="creator.invalid && (creator.dirty || creator.touched)" class="danger-color">
                    <div *ngIf="creator.errors.required">
                      Creator is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" *ngIf="auth.isStaff(user)">
                <div class="form-group col-md-6">
                  <label for="maintenancePackage">Maintenance Package</label>
                  <input formControlName="maintenancePackage" type=text class="form-control" id="maintenancePackage"
                    [ngClass]="setExpirationDate()" value="{{ getMaPackage() }}" readonly>
                </div>
                <div class="form-group col-md-6">
                  <label for="product">Product</label>
                  <input type=text class="form-control" formControlName="product" placeholder="Product" readonly>
                </div>
              </div>
              <div class="form-row" *ngIf="auth.isStaff(user)">
                <div class="form-group col-md-6">
                  <label class="control-label" for="Type">Type</label>
                  <select name="Type" formControlName="type" class="form-control" id="type"
                    [attr.disabled]="!auth.isSupporter(user)? true : null">
                    <option *ngFor="let type of Types" [ngValue]="type.name">
                      {{ type.name }}
                    </option>
                  </select>
                  <div *ngIf="type.invalid && (type.dirty || type.touched)" class="danger-color">
                    <div *ngIf="type.errors.required">
                      Type is required.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label" for="priority">Priority</label>
                  <select name="priority" formControlName="priority" class="form-control" id="priority"
                    [attr.disabled]="!auth.isSupporter(user)? true : null">
                    <option *ngFor="let priority of Prioritys" [ngValue]="priority.name">
                      {{ priority.name }}
                    </option>
                  </select>
                  <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="danger-color">
                    <div *ngIf="priority.errors.required">
                      Priority is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="module" class="control-label">Module</label>
                  <ng-multiselect-dropdown class="container" [data]="moduleList" id="module" formControlName="module"
                    [settings]="dropdownSettings" [disabled]="!auth.isSupporter(user)&&!auth.isCustomer(user)">
                  </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="form-row dropdownModule">
                <div class="form-group col-md-12">
                  <label for="subject" class="control-label">Subject</label>
                  <input formControlName="subject" type="text" class="form-control" id="subject" placeholder="Subject"
                    [readonly]="!auth.isSupporter(user)&&!auth.isCustomer(user)"
                    (ngModelChange)="isEditDescription($event)">
                  <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="danger-color">
                    <div *ngIf="subject.errors.required">
                      Subject is required.
                    </div>
                    <div *ngIf="subject.errors.maxlength">
                      Subject is less than 50 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="description" class="control-label">Description</label>
                  <textarea formControlName="description" class="form-control" id="description" rows="7"
                    [readonly]="!auth.isSupporter(user)&&!auth.isCustomer(user)"
                    (ngModelChange)="isEditDescription($event)"></textarea>
                  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="danger-color">
                    <div *ngIf="description.errors.required">
                      Description is required.
                    </div>
                    <div *ngIf="description.errors.maxlength">
                      Description is less than 500 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <app-upload-detail-form [flag]="forDescription" (editeUpload)="mergeDescriptionFileUpload($event)">
                  </app-upload-detail-form>
                </div>
                <div class=" col-md-12">
                  <app-upload-detail-list [flag]="forDescription" [fileUpload]="depositDescriptionFiles"
                    (fileRemove)="onDepositDescriptionFileRemove($event)">
                  </app-upload-detail-list>
                </div>
              </div>
              <div *ngIf="isSelectedType()">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <hr>
                    <label for="response">Response Description</label>
                    <textarea formControlName="responseDescription" class="form-control" id="responseDescription"
                      rows="7" (ngModelChange)="isResponseDescription($event)"
                      [readonly]="!auth.isSupporter(user)"></textarea>
                    <div class="danger-color">
                      Please fill out a description for More Info/Close
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <app-upload-detail-form [flag]="forResponseDescription"
                      (editeUpload)="mergeResponseDescriptionFileUpload($event)">
                    </app-upload-detail-form>
                  </div>
                  <div class=" col-md-12">
                    <app-upload-detail-list [flag]="forResponseDescription"
                      [fileUpload]="depositResponseDescriptionFiles"
                      (fileRemove)="onDepositResponDescriptionFileRemove($event)"></app-upload-detail-list>
                  </div>
                </div>
              </div>
              <div class="form-row" *ngIf="auth.isSupervisor(user)||auth.isMaintenance(user)">
                <div class="form-group col-md-12">
                  <hr>
                  <label for="maDescription">Maintenance Description</label>
                  <textarea formControlName="maDescription" class="form-control" id="maDescription" rows="7"
                    [readonly]="!auth.isSupervisor(user)&&!auth.isMaintenance(user)"></textarea>
                </div>
              </div>
              <div class="row" *ngIf="auth.isSupervisor(user)||auth.isMaintenance(user)">
                <div class=" col-md-12">
                  <app-upload-detail-form [flag]="forMaDescription"
                    (editeUpload)="mergeMaDescriptionFileUpload($event)">
                  </app-upload-detail-form>
                </div>
                <div class=" col-md-12">
                  <app-upload-detail-list [flag]="forMaDescription" [fileUpload]="depositMaDescriptionFiles"
                    (fileRemove)="onDepositMaDescriptionFileRemove($event)"></app-upload-detail-list>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12"
                  *ngIf="auth.isSupervisor(user)&&isAcceptedAssigned()&&isNotInprogress()">
                  <label class="control-label" for="assign">Assign task to dev</label>
                  <select formControlName="assign" name="assign" class="form-control" id="assign"
                    (ngModelChange)="isAssignDev($event)">
                    <option value="">choose dev...</option>
                    <option *ngFor="let staff of Staff" [ngValue]="staff.fullName">
                      {{staff.firstName}} {{staff.lastName}}
                  </select>
                </div>
              </div>
              <div class="form-row" *ngIf="auth.isSupervisor(user)||auth.isDeveloper(user)">
                <div class="form-group col-md-12">
                  <hr>
                  <label for="suggestDescription">Suggest Description</label>
                  <textarea formControlName="suggestDescription" class="form-control" rows="7"
                    [readonly]="!auth.isSupervisor(user)"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" *ngIf="auth.isSupervisor(user)">
                  <app-upload-detail-form [flag]="forSuggestDescription"
                    (editeUpload)="mergeSuggestDescriptionFileUpload($event)">
                  </app-upload-detail-form>
                </div>
                <div class=" col-md-12">
                  <app-upload-detail-list [flag]="forSuggestDescription" [fileUpload]="depositSuggestDescriptionFiles"
                    (fileRemove)="onDepositSuggestDescriptionFileRemove($event)"></app-upload-detail-list>
                </div>
              </div>
              <div *ngIf="isAssignedResolved()&&(auth.isDeveloper(user) || auth.isSupporter(user))">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="resolve">Resolve Description</label>
                    <textarea formControlName="resolveDescription" class="form-control" id="resolveDescription" rows="7"
                      [readonly]="!auth.isDeveloper(user)"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <app-upload-detail-form [flag]="forResolveDescription"
                      (editeUpload)="mergeResolveDescriptionFileUpload($event)">
                    </app-upload-detail-form>
                  </div>
                  <div class=" col-md-12">
                    <app-upload-detail-list [flag]="forResolveDescription" [fileUpload]="depositResolveDescriptionFiles"
                      (fileRemove)="onDepositResolveDescriptionFileRemove($event)"></app-upload-detail-list>
                  </div>
                </div>
              </div>
            </div>
            <!-- Add task -->
            <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="auth.isSupervisor(user)">
              <label class="" for="task">Tasks</label>
              <div class="form-row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <div class="row">
                        <ul>
                          <div *ngFor="let task of depositTasks; let i = index;">
                            <div>
                              <div *ngIf="taskIdx!==i">
                                {{task?.subjectTask}}
                                {{task?.developer}}
                                {{task?.point}}
                                {{task?.dueDate}}
                                <button type="button" (click)="formUpdateTasks(task, i)" class="btn warningBtn">
                                  <i class="fas fa-pen"></i>
                                </button>
                                <button type="button" (click)="removeTasks(i)" class="btn dangerBtn">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </div>
                              <div class="form-group col-md-12">
                                <div formGroupName="tasks" class="form-group" *ngIf="updateTask&&taskIdx===i">
                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="subjectTask" class="control-label">Subject Task</label>
                                      <input formControlName="subjectTask" type="text" class="form-control"
                                        id="subjectTask" placeholder="Subject Task">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="developer" class="control-label">Assign Dev</label>
                                      <select formControlName="developer" name="assignTasks" class="form-control"
                                        id="assignTasks">
                                        <option value="">choose dev...</option>
                                        <option *ngFor="let staff of Staff" [ngValue]="staff.fullName">
                                          {{staff.firstName}} {{staff.lastName}}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <label for="point" class="control-label">point</label>
                                      <input formControlName="point" type="number" class="form-control"
                                        id="deadlineDate" placeholder="Point">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="deadline" class="control-label">due date</label>
                                      <input formControlName="dueDate" type="number" class="form-control"
                                        id="deadlineDate" placeholder="Due Date">
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="form-group mr-5">
                                      <button type="button" (click)="onCancelUpdateTaks()"
                                        class="btn btn-light btn-cancel">Cancel</button>
                                    </div>
                                    <div class="form-group">
                                      <button type="button" (click)="onUpdateTask(i)" class="btn btn-success">Update
                                        Tasks</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <hr>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="row" *ngIf="!addTask">
                    <div class="form-group col-md-12">
                      <button type="button" class="btn btn-success" (click)="setTask()"> <i
                          class="fas fa-plus-square"></i></button>
                    </div>
                  </div>
                  <div formGroupName="tasks" class="form-group" *ngIf="addTask">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="subjectTask" class="control-label">Subject Task</label>
                        <input formControlName="subjectTask" type="text" class="form-control" id="subjectTask"
                          placeholder="Subject Task">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="developer" class="control-label">Assign Dev</label>
                        <select formControlName="developer" name="assignTasks" class="form-control" id="assignTasks">
                          <option value="">choose dev...</option>
                          <option *ngFor="let staff of Staff" [ngValue]="staff.fullName">
                            {{staff.firstName}} {{staff.lastName}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="point" class="control-label">point</label>
                        <input formControlName="point" type="number" class="form-control" id="deadlineDate"
                          placeholder="Point">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="deadline" class="control-label">due date</label>
                        <input formControlName="dueDate" type="number" class="form-control" id="deadlineDate"
                          placeholder="Due Date">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group mr-5">
                        <button type="button" (click)="onCancelAddTaks()"
                          class="btn btn-light btn-cancel">Cancel</button>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-success" (click)="onTasksSubmit()">Save Tasks</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End add tasks -->
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="btn-group btn-save" style="float: right;">
                <button type="submit" class="btn saveBtn" *ngIf="auth.isStaff(user)" (click)="setActionSentence()">
                  {{ displaySelectedStatus() }}
                </button>
                <button type="submit" class="btn saveBtn" *ngIf="auth.isCustomer(user)" (click)="setActionSentence()">
                  Save
                </button>
                <button type=" button" class="btn saveBtn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" *ngIf="auth.isStaff(user)" (click)="filterAction()">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" *ngIf="auth.isStaff(user)">
                  <button *ngFor="let status of Status" type="button" class="dropdown-item"
                    (click)="onSelectedStatus(status.value)">
                    {{status.name}}
                  </button>
                </div>
              </div>
              <button class="btn cancelBtn btn-cancel" type="button" (click)="alertCancelTicket()"
                *ngIf="auth.isStaff(user)">Cancel</button>
              <button class="btn cancelBtn btn-cancel" type="button" (click)="alertCancelTicket()"
                *ngIf=" auth.isCustomer(user)">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>