<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            <i class="fas fa-edit"></i>
            {{ title }}
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="editTicket" (ngSubmit)="updateForm()" *ngIf="site$ | async; let Site">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-row" *ngIf="auth.isStaff(user)">
                <div class="form-group col-md-6">
                  <label class="control-label">Date Inform</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="Select a date" angular-mydatepicker name="date"
                      formControlName="date" [options]="myOptions" #dp="angular-mydatepicker" readonly>
                    <div class="input-group-append">
                      <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()"
                        [attr.disabled]="!auth.isSupporter(user)">
                        <i class="fas fa-calendar"></i>
                      </button>
                    </div>
                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="danger-color">
                      <div *ngIf="date.errors.required">
                        Date is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label" for="source">Source</label>
                  <select name="source" formControlName="source" class="form-control" id="source"
                    [attr.disabled]="!auth.isSupporter(user)? true : null">
                    <option *ngFor="let source of Sources" [ngValue]="source.name">
                      {{ source.name }}
                    </option>
                  </select>
                  <div *ngIf="source.invalid && (source.dirty || source.touched)" class="danger-color">
                    <div *ngIf="source.errors.required">
                      Source is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" *ngIf="auth.isStaff(user)">
                <div class="form-group col-md-6">
                  <label for="site">Site Name</label>
                  <input name="site" formControlName="siteName" class="form-control" id="site" readonly>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Creator</label>
                  <select name="creatorName" formControlName="creatorName" class="form-control" id="creator"
                    [attr.disabled]="!auth.isSupporter(user)? true : null">
                    <option *ngFor="let user of getCreate()" [ngValue]="user">
                      {{ user }}
                    </option>
                  </select>
                  <div *ngIf="creator.invalid && (creator.dirty || creator.touched)" class="danger-color">
                    <div *ngIf="creator.errors.required">
                      Creator is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" *ngIf="auth.isStaff(user)">
                <div class="form-group col-md-6">
                  <label for="maintenancePackage">Maintenance Package</label>
                  <input formControlName="maintenancePackage" type=text class="form-control" id="maintenancePackage"
                    [ngClass]="setExpirationDate()" value="{{ getMaPackage() }}" readonly>
                </div>
                <div class="form-group col-md-6">
                  <label>Product</label>
                  <input type=text class="form-control" formControlName="product" placeholder="Product" readonly>
                </div>
              </div>
              <div class="form-row" *ngIf="auth.isStaff(user)">
                <div class="form-group col-md-6">
                  <label class="control-label" for="Type">Type</label>
                  <select name="Type" formControlName="type" class="form-control" id="type"
                    [attr.disabled]="!auth.isSupporter(user)? true : null">
                    <option *ngFor="let type of Types" [ngValue]="type.name">
                      {{ type.name }}
                    </option>
                  </select>
                  <div *ngIf="type.invalid && (type.dirty || type.touched)" class="danger-color">
                    <div *ngIf="type.errors.required">
                      Type is required.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label" for="priority">Priority</label>
                  <select name="priority" formControlName="priority" class="form-control" id="priority"
                    [attr.disabled]="!auth.isSupporter(user)? true : null">
                    <option *ngFor="let priority of Prioritys" [ngValue]="priority.name">
                      {{ priority.name }}
                    </option>
                  </select>
                  <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="danger-color">
                    <div *ngIf="priority.errors.required">
                      Priority is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="module" class="control-label">Module</label>
                  <ng-multiselect-dropdown class="container" [data]="moduleList" id="module" formControlName="module"
                    [settings]="dropdownSettings" [disabled]="!auth.isSupporter(user)&&!auth.isCustomer(user)">
                  </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="form-row dropdownModule">
                <div class="form-group col-md-12">
                  <label for="subject" class="control-label">Subject</label>
                  <input formControlName="subject" type="text" class="form-control" id="subject" placeholder="Subject"
                    [readonly]="!auth.isSupporter(user)&&!auth.isCustomer(user)"
                    (ngModelChange)="isEditDescription($event)">
                  <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="danger-color">
                    <div *ngIf="subject.errors.required">
                      Subject is required.
                    </div>
                    <div *ngIf="subject.errors.maxlength">
                      Subject is less than 50 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="description" class="control-label">Description</label>
                  <textarea formControlName="description" class="form-control" id="description" rows="7"
                    [readonly]="!auth.isSupporter(user)&&!auth.isCustomer(user)"
                    (ngModelChange)="isEditDescription($event)"></textarea>
                  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="danger-color">
                    <div *ngIf="description.errors.required">
                      Description is required.
                    </div>
                    <div *ngIf="description.errors.maxlength">
                      Description is less than 500 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <app-upload-detail-form [flag]="forDescription" (editeUpload)="mergeDescriptionFileUpload($event)">
                  </app-upload-detail-form>
                </div>
                <div class=" col-md-12">
                  <app-upload-detail-list [flag]="forDescription" [fileUpload]="depositDescriptionFiles"
                    (fileRemove)="onDepositDescriptionFileRemove($event)">
                  </app-upload-detail-list>
                </div>
              </div>
              <div *ngIf="isSelectedType()">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Response Description</label>
                    <textarea formControlName="responseDescription" class="form-control" id="responseDescription"
                      rows="7" (ngModelChange)="isResponseDescription($event)"
                      [readonly]="!auth.isSupporter(user)"></textarea>
                    <div class="danger-color" *ngIf="auth.isStaff(user)">
                      Please fill out a description for More Info, Close and Reject
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="auth.isSupporter(user)">
                  <div class="col-md-12">
                    <app-upload-detail-form [flag]="forResponseDescription"
                      (editeUpload)="mergeResponseDescriptionFileUpload($event)">
                    </app-upload-detail-form>
                  </div>
                  <div class=" col-md-12">
                    <app-upload-detail-list [flag]="forResponseDescription"
                      [fileUpload]="depositResponseDescriptionFiles"
                      (fileRemove)="onDepositResponDescriptionFileRemove($event)"></app-upload-detail-list>
                  </div>
                </div>
              </div>
              <div class="form-row" *ngIf="(auth.isSupervisor(user)||auth.isMaintenance(user))&&isSpecialStatus()">
                <div class="form-group col-md-12">
                  <hr>
                  <label for="maDescription">Maintenance Description</label>
                  <textarea formControlName="maDescription" class="form-control" id="maDescription" rows="7"
                    (ngModelChange)="isEditMaDescription($event)"
                    [readonly]="!auth.isSupervisor(user)&&!auth.isMaintenance(user)"></textarea>
                </div>
              </div>
              <div class="row" *ngIf="(auth.isSupervisor(user)||auth.isMaintenance(user))&&isSpecialStatus()">
                <div class=" col-md-12">
                  <app-upload-detail-form [flag]="forMaDescription"
                    (editeUpload)="mergeMaDescriptionFileUpload($event)">
                  </app-upload-detail-form>
                </div>
                <div class=" col-md-12">
                  <app-upload-detail-list [flag]="forMaDescription" [fileUpload]="depositMaDescriptionFiles"
                    (fileRemove)="onDepositMaDescriptionFileRemove($event)"></app-upload-detail-list>
                </div>
              </div>
              <div class="form-row" *ngIf="(auth.isSupervisor(user)||auth.isDeveloper(user))&&isSpecialStatus()">
                <div class="form-group col-md-12">
                  <hr>
                  <label>Suggest Description</label>
                  <textarea formControlName="suggestDescription" class="form-control" rows="7"
                    (ngModelChange)="isEditSuggestDescription($event)" [readonly]="!auth.isSupervisor(user)">
                  </textarea>
                  <div class="danger-color">
                    Please fill out a Suggest description for assign
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" *ngIf="auth.isSupervisor(user)&&isSpecialStatus()">
                  <app-upload-detail-form [flag]="forSuggestDescription"
                    (editeUpload)="mergeSuggestDescriptionFileUpload($event)">
                  </app-upload-detail-form>
                </div>
                <div class=" col-md-12">
                  <app-upload-detail-list [flag]="forSuggestDescription" [fileUpload]="depositSuggestDescriptionFiles"
                    (fileRemove)="onDepositSuggestDescriptionFileRemove($event)"></app-upload-detail-list>
                </div>
              </div>
              <div *ngIf="isAssignedResolved()">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Resolve Description</label>
                    <textarea formControlName="resolveDescription" class="form-control" id="resolveDescription" rows="7"
                      (ngModelChange)="isResolveDescription($event); changeChecked()"
                      [readonly]="!auth.isDeveloper(user)">
                    </textarea>
                    <div class="danger-color">
                      Please fill out a Resolve description for resolve
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <app-upload-detail-form [flag]="forResolveDescription"
                      (editeUpload)="mergeResolveDescriptionFileUpload($event)">
                    </app-upload-detail-form>
                  </div>
                  <div class=" col-md-12">
                    <app-upload-detail-list [flag]="forResolveDescription" [fileUpload]="depositResolveDescriptionFiles"
                      (fileRemove)="onDepositResolveDescriptionFileRemove($event)"></app-upload-detail-list>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
              *ngIf="(auth.isSupervisor(user) || auth.isDeveloper(user))&&isAcceptedAssigned()&&isNotInprogress()">
              <h5>Task <a title="You can save task regardless of the ticket."><i
                    class="fas fa-info-circle primary-color"></i></a> </h5>
              <div class="form-row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <div *ngIf="progress!=0&&progress!=null" class="progress mb-2">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuemin="0"
                          aria-valuemax="100" [ngStyle]="{ width: progress  + '%' }">
                          {{ progress }}%
                        </div>
                      </div>
                      <div class="row">
                        <ul class="list-group-item list-group-item-action flex-column mb-2"
                          *ngFor="let task of depositTasks; let i = index">
                          <div class="list-group" *ngIf="taskIdx!==i">
                            <div class="row">
                              <div class="col-auto">
                                <h5>
                                  <input class="mr-2" type="checkbox" [(ngModel)]="task.checked"
                                    (change)="changeChecked()" [ngModelOptions]="{standalone: true}">
                                  {{task?.subjectTask}}
                                </h5>
                              </div>
                              <div *ngIf="myTask(task)" class="col-auto">
                                <div class="my-task">
                                  <i class="fas fa-user-circle mx-2"></i>My task
                                </div>
                              </div>
                            </div>
                            <span>Assign: {{getDev(task)}}</span>
                            <span>Point: {{task?.point}}</span>
                            <span>Due date: {{task?.dueDate.singleDate.jsDate | datePipe: 'l' }}</span>
                            <div class="mt-2">
                              <button type="button" (click)="formUpdateTasks(task, i)" class="btn warningBtn mr-2">
                                <i class="fas fa-pen"></i> Edit Task
                              </button>
                              <button type="button" (click)="removeTasks(i)" class="btn dangerBtn">
                                <i class="fas fa-trash"></i> Delete Task
                              </button>
                            </div>
                          </div>
                          <div class="form-group col-md-12">
                            <div formGroupName="tasks" class="form-group" *ngIf="updateTask&&taskIdx===i">
                              <div class="form-row ">
                                <div class="form-group col-md-6">
                                  <label for="subjectTask" class="control-label">Subject Task</label>
                                  <input formControlName="subjectTask" type="text" class="form-control"
                                    placeholder="Subject Task">
                                  <div
                                    *ngIf="editTicket.get('tasks').get('subjectTask').invalid && (editTicket.get('tasks').get('subjectTask').dirty || editTicket.get('tasks').get('subjectTask').touched)"
                                    class="danger-color">
                                    <div *ngIf="editTicket.get('tasks').get('subjectTask').errors.required">
                                      Subject task is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="developer" class="control-label">Assign Dev</label>
                                  <ng-multiselect-dropdown class="container" [placeholder]="'choose developer'"
                                    [data]="Staff" formControlName="developer" [settings]="devSettings">
                                  </ng-multiselect-dropdown>
                                  <div
                                    *ngIf="editTicket.get('tasks').get('developer').invalid && (editTicket.get('tasks').get('developer').dirty || editTicket.get('tasks').get('developer').touched)"
                                    class="danger-color">
                                    <div *ngIf="editTicket.get('tasks').get('developer').errors.required">
                                      Developer task is required.
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="point" class="control-label">Point</label>
                                  <input formControlName="point" type="number" class="form-control" placeholder="Point">
                                  <div
                                    *ngIf="editTicket.get('tasks').get('point').invalid && (editTicket.get('tasks').get('point').dirty || editTicket.get('tasks').get('point').touched)"
                                    class="danger-color">
                                    <div *ngIf="editTicket.get('tasks').get('point').errors.required">
                                      Point task is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group col-md-6">
                                  <label class="control-label">Due Date</label>
                                  <div class="input-group">
                                    <input class="form-control" placeholder="Select a date" angular-mydatepicker
                                      name="dueDate" formControlName="dueDate" [options]="myOptions"
                                      #dp="angular-mydatepicker" readonly>
                                    <div class=" input-group-append">
                                      <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                                        <i class="fas fa-calendar"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div
                                    *ngIf="editTicket.get('tasks').get('dueDate').invalid && (editTicket.get('tasks').get('dueDate').dirty || editTicket.get('tasks').get('dueDate').touched)"
                                    class="danger-color">
                                    <div *ngIf="editTicket.get('tasks').get('dueDate').errors.required">
                                      Due Date task is required.
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group mr-5">
                                  <button type="button" (click)="onCancelUpdateTask()"
                                    class="btn cancelBtn btn-cancel">Cancel</button>
                                </div>
                                <div class="form-group">
                                  <button type="button" (click)="onUpdateTask(i)"
                                    [disabled]="!editTicket.get('tasks').valid" class="btn saveBtn">Update
                                    Tasks</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="row" *ngIf="!addTask">
                    <div class="form-group col-md-12">
                      <button type="button" class="btn saveBtn" (click)="setTask()"> <i
                          class="fas fa-plus-square"></i></button>
                    </div>
                  </div>
                  <div formGroupName="tasks" class="form-group" *ngIf="addTask">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="subjectTask" class="control-label">Subject Task</label>
                        <input formControlName="subjectTask" type="text" class="form-control" id="subjectTask"
                          placeholder="Subject Task">
                        <div
                          *ngIf="editTicket.get('tasks').get('subjectTask').invalid && (editTicket.get('tasks').get('subjectTask').dirty || editTicket.get('tasks').get('subjectTask').touched)"
                          class="danger-color">
                          <div *ngIf="editTicket.get('tasks').get('subjectTask').errors.required">
                            Subject task is required.
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="developer" class="control-label">Assign Dev</label>
                        <ng-multiselect-dropdown class="container" [placeholder]="'choose developer'" [data]="Staff"
                          id="developer" formControlName="developer" [settings]="devSettings">
                        </ng-multiselect-dropdown>
                        <div
                          *ngIf="editTicket.get('tasks').get('developer').invalid && (editTicket.get('tasks').get('developer').dirty || editTicket.get('tasks').get('developer').touched)"
                          class="danger-color">
                          <div *ngIf="editTicket.get('tasks').get('developer').errors.required">
                            Developer task is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="point" class="control-label">point</label>
                        <input formControlName="point" type="number" class="form-control" id="point"
                          placeholder="Point">
                        <div
                          *ngIf="editTicket.get('tasks').get('point').invalid && (editTicket.get('tasks').get('point').dirty || editTicket.get('tasks').get('point').touched)"
                          class="danger-color">
                          <div *ngIf="editTicket.get('tasks').get('point').errors.required">
                            Point task is required.
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label class="control-label">Due Date</label>
                        <div class="input-group">
                          <input class="form-control" placeholder="Select a date" angular-mydatepicker name="dueDate"
                            formControlName="dueDate" [options]="myOptions" #dp="angular-mydatepicker" readonly>
                          <div class=" input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                              <i class="fas fa-calendar"></i>
                            </button>
                          </div>
                        </div>
                        <div
                          *ngIf="editTicket.get('tasks').get('dueDate').invalid && (editTicket.get('tasks').get('dueDate').dirty || editTicket.get('tasks').get('dueDate').touched)"
                          class="danger-color">
                          <div *ngIf="editTicket.get('tasks').get('dueDate').errors.required">
                            Due Date task is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group mr-5">
                        <button type="button" (click)="onCancelAddTask()"
                          class="btn cancelBtn btn-cancel">Cancel</button>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn saveBtn" [disabled]="!editTicket.get('tasks').valid"
                          (click)="onTasksSubmit()">Save Tasks</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p>Total: {{ this.sumPoint }}</p>
              <span>Due date: {{this.maxDueDate | datePipe: 'l' }}</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="btn-group btn-save" style="float: right;">
                <button type="submit" class="btn saveBtn" *ngIf="auth.isStaff(user)" (click)="setActionSentence()">
                  {{ displaySelectedStatus()}}
                </button>
                <button type="submit" class="btn saveBtn" *ngIf="auth.isCustomer(user)" (click)="setActionSentence()">
                  Save
                </button>
                <button type="button" class="btn saveBtn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" *ngIf="auth.isStaff(user)" (click)="filterAction()">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" *ngIf="auth.isStaff(user)">
                  <button *ngFor="let status of Status" type="button" class="dropdown-item"
                    (click)="onSelectedStatus(status.value)">
                    {{status.name}}
                  </button>
                </div>
              </div>
              <button class="btn cancelBtn btn-cancel" type="button" (click)="alertCancelTicket()"
                *ngIf="auth.isStaff(user)">Cancel</button>
              <button class="btn cancelBtn btn-cancel" type="button" (click)="alertCancelTicket()"
                *ngIf=" auth.isCustomer(user)">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>