<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            <i class="fas fa-ticket-alt"></i>
            Ticket Detail
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form *ngIf="ticket$ | async as ticket">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <h5>Date</h5>
                  <p class="secondary-color">{{ getDate(ticket) }}</p>
                </div>
                <div class="form-group col-md-6">
                  <h5>Source</h5>
                  <p class="secondary-color">{{ getSource(ticket) }}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <h5 for="site">Site Name</h5>
                  <p class="secondary-color">{{ getSitename(ticket) }}</p>
                </div>
                <div class="form-group col">
                  <h5 for="module">Module</h5>
                  <p class="secondary-color">{{ getModule(ticket) }}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <h5 for="product">Product</h5>
                  <p class="secondary-color">{{ getProduct(ticket) }}</p>
                </div>
                <div class="form-group col">
                  <h5 for="maintenancePackage">Maintenance Package</h5>
                  <p class="{{ setExpirationDate(ticket) }}">{{ getMaPackage(ticket) }}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col" *ngIf="getSubject(ticket)">
                  <h5 for="subject">Subject</h5>
                  <p class="secondary-color">{{ getSubject(ticket) }}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12" *ngIf="getDescription(ticket)">
                  <h5 for="description">Description</h5>
                  <p class="secondary-color">{{ getDescription(ticket) }}</p>
                </div>
                <div class="form-group col-md-12" *ngIf="fileExit(ticket.descriptionFile)">
                  <h5>Description file Upload</h5>
                  <ul class="list-group list-group-flush" *ngFor="let file of ticket.descriptionFile">
                    <li class="list-group-item">
                      <app-upload-details [fileUpload]='file'></app-upload-details>
                    </li>
                  </ul>
                </div>
                <div class="form-group col-md-12" *ngIf="getDescriptionMA(ticket)">
                  <h5>Maintenance Description</h5>
                  <p class="secondary-color">{{ getDescriptionMA(ticket) }}</p>
                </div>
                <div class="form-group col-md-12" *ngIf="fileExit(ticket.maDescriptionFile)">
                  <h5>Maintenance Description File Upload</h5>
                  <ul class="list-group list-group-flush" *ngFor="let file of ticket.maDescriptionFile">
                    <li class="list-group-item">
                      <app-upload-details [fileUpload]='file'></app-upload-details>
                    </li>
                  </ul>
                </div>
                <div class="form-group col-md-12" *ngIf="getResolvedDescription(ticket)">
                  <h5>Resolved Description</h5>
                  <p class="secondary-color">{{ getResolvedDescription(ticket) }}</p>
                </div>
                <div class="form-group col-md-12" *ngIf="fileExit(ticket.resolveDescriptionFile)">
                  <h5>Resolved Description File Upload</h5>
                  <ul class="list-group list-group-flush" *ngFor="let file of ticket.resolveDescriptionFile">
                    <li class="list-group-item">
                      <app-upload-details [fileUpload]='file'></app-upload-details>
                    </li>
                  </ul>
                </div>
                <div class="form-group col-md-12" *ngIf="getResponseDescription(ticket)">
                  <h5>Response Description</h5>
                  <p class="secondary-color">{{ getResponseDescription(ticket) }}</p>
                </div>
                <div class="form-group col-md-12" *ngIf="fileExit(ticket.responseDescriptionFile)">
                  <h5>Response Description File Upload</h5>
                  <ul class="list-group list-group-flush" *ngFor="let file of ticket.responseDescriptionFile">
                    <li class="list-group-item">
                      <app-upload-details [fileUpload]='file'></app-upload-details>
                    </li>
                  </ul>
                </div>
                <div class="form-group col-md-12" *ngIf="getSuggestDescription(ticket)">
                  <h5>Suggest Description</h5>
                  <p class="secondary-color">{{ getSuggestDescription(ticket) }}</p>
                </div>
                <div class="form-group col-md-12" *ngIf="fileExit(ticket.suggestDescriptionFile)">
                  <h5>Suggest Description File Upload</h5>
                  <ul class="list-group list-group-flush" *ngFor="let file of ticket.suggestDescriptionFile">
                    <li class="list-group-item">
                      <app-upload-details [fileUpload]='file'></app-upload-details>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <h5 for="source">Track</h5>
                  <div class="row">
                    <ul>
                      <li *ngFor="let action of actions | async">
                        Actions: {{ action?.actionSentence }} <br />
                        Staff: {{ action?.staff ? action?.staff: '-' }} <br />
                        Dev: {{ getDev(action) }} <br />
                        Status: {{ action?.status }} <br />
                        Date: {{ action?.date | datePipe: 'lll' }} <br /> <br />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <button type="button" class="btn back" [routerLink]="['/']" *ngIf="auth.isStaff(user)">Back</button>
              <button type="button" class="btn back" [routerLink]="['/site-ticket']"
                *ngIf="auth.isCustomer(user)">Back</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>