<div class="container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1 searchbar">
        <h5 class="primary-color">
          <i class="fas fa-ticket-alt"></i>
          Tickets
        </h5>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="isChecked"
              (change)="checkValue(isChecked?'ture':'false')">
            My Tickets<i class="input-helper"></i>
          </label>
        </div>
        <div class="form-control-sm">
          <div class="form-group has-search mb-2">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="search" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
              (keyup)="search()" placeholder="Search Subject">
          </div>
        </div>
        <form [formGroup]="filterTicketForm">
          <div class="form-control-sm">
            <div class="input-group mb-2">
              <input class="form-control" placeholder="Select a date range" angular-mydatepicker name="date"
                formControlName="date" [options]="myOptions" #dp="angular-mydatepicker"
                (dateChanged)="onDateChanged($event)">
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="dp.clearDate()">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <div class=" input-group-append">
                <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                  <i class="fas fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-2 col-sm-6 col-12" (click)="setStatus('Draft')">
        <div class="card draft mt-2" [class.active]="'Draft' === activeState">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-pen float-left mr-2"></i>
                </div>
                <div class="text-right">
                  <span>Draft</span>
                </div>
                <div class="media-body text-right">
                  <span>{{ CountStatus[0] }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12" (click)="setStatus('Informed')">
        <div class="card inform mt-2" [class.active]="'Informed' === activeState">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-file float-left mr-2"></i>
                </div>
                <div class="text-right">
                  <span>Informed</span>
                </div>
                <div class="media-body text-right ml-2">
                  <span>{{ CountStatus[1] }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12" (click)="setStatus('More Info')">
        <div class="card moreinfo mt-2" [class.active]="'More Info' === activeState">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-history mr-2"></i>
                </div>
                <div class="text-right">
                  <span>More Info</span>
                </div>
                <div class="media-body text-right ml-2">
                  <span>{{ CountStatus[2] }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12" (click)="setStatus('In Progress')">
        <div class="card in-progress mt-2" [class.active]="'In Progress' === activeState">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-clock float-left mr-2"></i>
                </div>
                <div class="text-right">
                  <span>In Progress</span>
                </div>
                <div class="media-body text-right ml-2">
                  <span>{{ getSum() }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12" (click)="setStatus('Resolved')">
        <div class="card resolved mt-2" [class.active]="'Resolved' === activeState">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-check float-left mr-2"></i>
                </div>
                <div class="text-right">
                  <span>Resolved</span>
                </div>
                <div class="media-body text-right ml-2">
                  <span>{{ CountStatus[6] }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12" (click)="getAllTicket('Total')">
        <div class="card total mt-2" [class.active]="'Total' === activeState">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-clone float-left mr-2"></i>
                </div>
                <div class="text-right">
                  <span>Total</span>
                </div>
                <div class="media-body text-right ml-2">
                  <span>{{ countAll }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container-fluid">
  <div class="text-left mt-3" *ngIf="ticket$ | async as ticket$; index as i">
    <div class="card mb-2" *ngFor="let ticket of ticket$">
      <div class="card-header">
        <div class="row detail-problem">
          <div class="col-xl-3 col-sm-4 col-12">
            <div class="col-3 text-lg-left">
              <div class="dropdown dd">
                <div class="{{ classPriority(ticket.priority) }}">
                  <i class="{{ getPriorityIcon(ticket.priority) }} text-left"></i>{{ticket.priority}}
                </div>
              </div>
            </div>
            <div class="col-md-4 text-lg-left">
              <div class="dropdown dd">
                <div class="type">
                  <i class="{{ getTypeIcon(ticket.type)}} text-left"></i>{{ticket.type}}
                </div>
              </div>
            </div>
            <div class="col-md-3 text-lg-left">
              <div class="dropdown dd">
                <div class="status">
                  <i class="{{ getStatusIcon(ticket.status)}}"></i>{{ticket.status}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-4 col-12 left">
            <div class="row">
              <span>
                {{ticket.countIncrement}}: {{ticket.subject}}
              </span>
            </div>
            <div class="row">
              <i class="{{ getSourcesIcon(ticket.source) }}"></i>
              <span class="mx-1" style="color: black;">{{ticket.creator}} - {{ticket.site.initials}}</span>
            </div>
            <div class="row">
              <span for="">{{ticket.site.product.name}}</span>
            </div>
            <div class="row">
              <span style="color: gray;">Created {{ ticket.date.singleDate?.formatted?
                ticket.date.singleDate.formatted
                : ''}}</span>
              <div class="col" *ngIf="checkDuedete(ticket.maxDueDate)">
                <div class="dueDate">
                  <i class="fas fa-exclamation-circle mx-2"></i>{{ticket.maxDueDate | datePipe: 'l' }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-4 col-12 mx-3 action">
            <i *ngIf="isDraft(ticket)" class="fas fa-trash mx-1 secondary-color icon"
              (click)="onSelectedDelete(ticket.id, ticket.subject)" title="Delete Ticket"></i>
            <a *ngIf="isStatusSpecail(ticket)" [routerLink]="['/edit-ticket', ticket.id]">
              <i class="fas fa-pen mx-1 secondary-color icon" title="Edit Ticket"></i>
            </a>
            <a [routerLink]="['/detail', ticket.id]">
              <i class="fas fa-eye mx-1 secondary-color icon" title="View Ticket"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(ticket$| async)?.length === 0">
    <div class="alert alert-warning" role="alert">
      <strong>No ticket in this status</strong>
    </div>
  </div>
</div>
