<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">

<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h5>
          <i class="fas fa-ticket-alt"></i>
          Tickets
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-2 col-sm-6 col-12"> 
        <div class="card draft">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-pen float-left"></i> 
                </div>
                <div class="media-body text-right">
                  <span>Draft</span>
                </div>
                <div class="media-body text-right">
                  <span>5</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12">
        <div class="card moreinfo">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-clock float-left"></i>
                </div>
                <div class="media-body text-right">
                  <span>More Info</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12">
        <div class="card pending">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-clock float-left"></i>
                </div>
                <div class="media-body text-right">
                  <span>Pending</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12">
        <div class="card resolved">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-check float-left"></i>
                </div>
                <div class="media-body text-right">
                  <span>Resolved</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12">
        <div class="card closed">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-check-circle float-left"></i>
                </div>
                <div class="media-body text-right">
                  <span>Closed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6 col-12">
        <div class="card all">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fas fa-clone float-left"></i>
                </div>
                <div class="media-body text-right">
                  <span>All</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>