

.draft {
    background-image: linear-gradient(to right, #FFBE96 20%, #FE8896 100%);
    border: none;
    border-radius: 5px;
    color: white;
}

.moreinfo {
    background:#FE8896;
    border: none;
    border-radius: 5px;
    color: white;
}

.pending {
    background-image: linear-gradient(to right, #FE8896 20%, #3096E7 100%);
    border: none;
    border-radius: 5px;
    color: white;
}

.resolved {
    background:#3096E7;
    border: none;
    border-radius: 5px;
    color: white;
}

.closed {
    background-image: linear-gradient(to right, #3096E7 30%, #2ED0B9 70%);
    border: none;
    border-radius: 5px;
    color: white;
}

.all {
    background-image: linear-gradient(to right, #2ED0B9 30%, #3096E7 70%);
    border: none;
    border-radius: 5px;
    color: white;
}