<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
  <a class="navbar-brand text-dark" [routerLink]="['/']">
    Helpdesk
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li *ngIf="!auth.authenticated">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="auth.authenticated">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li *ngIf="auth.authenticated">
        <a class="nav-link" (click)="this.auth.signOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>