<div class="container-fluid">
  <section id="minimal-statistics">
    <div class="row mt-3 mb-1 searchbar-staff">
      <div class="col-xl-4 col-md-4 col-sm-6 col-6">
        <h5 class="primary-color">
          <i class="fas fa-user-tie"></i>
          Staff
        </h5>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-6 col-6 my-ticket">
        <a routerLink="/register-staff" class="btn btn-success saveBtn">
          <i class="fas fa-plus-square fa-lg mx-2"></i>Add Staff
        </a>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12 col-12">
        <div class="form-group has-search mb-2">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="search" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
                 (keyup)="search()" placeholder="Search Name">
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container-fluid">
  <div class="pricing-header mx-auto">
    <div class="table-responsive" *ngIf="hideWhenNoStaff">
      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let staff of Staff ; let i = index;">
            <td>{{i+1}}</td>
            <td>{{staff.firstName}} {{staff.lastName}}</td>
            <td>{{ getRoles(staff.roles) }}</td>
            <td>{{staff.email}}</td>
            <td>{{staff.mobileNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
