<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            Server
          </h5>
        </div>
        <div *ngIf="!isAdd" style=" text-align:right;">
          <a (click)="showAdd(!isAdd)">
            <i class="fas fa-plus fa-lg primary-color"></i>
          </a>
        </div>
      </div>
      <div class="container-fluid">
        <div class="pricing-header mx-auto">
          <div class="table-responsive">
            <table class="table table-striped table-responsive-sm table-responsive-md table-responsive-lg bg-white">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Server IP/Name</th>
                  <th scope="col">Server type</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let serv of Server ; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{serv.serverIpName}}</td>
                  <td>{{serv.serverType}}</td>
                  <td>
                    <a (click)="showServer(serv)">
                      <i class="fas fa-eye fa-lg primary-color" style="padding: 0.5em -0.4em;"></i>
                    </a>
                    <a (click)="editServer(serv)">
                      <i class="fas fa-pen fa-lg warning-color" style="padding: 0.5em 0.6em;"></i>
                    </a>
                    <a (click)="alertDeleteServer(serv)">
                      <i class="fas fa-trash fa-lg danger-color"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="Server?.length === 0">
          <div class="alert alert-warning" role="alert">
            <strong>Server could not be found.</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="!isShow">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content" *ngIf="isAdd">
          <h5>
            Add Server
          </h5>
        </div>
        <div class="header content" *ngIf="isEdit">
          <h5>
            Edit Server
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="serverForm" (ngSubmit)="addServer()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="control-label">Server IP/Name</label>
              <div class="input-group">
                <input type="text" formControlName="serverIpName" class="form-control" id="serverIpName"
                  placeholder="Server IP">
              </div>
              <div *ngIf="serverIpName.invalid && (serverIpName.dirty || serverIpName.touched)" class="danger-color">
                <div *ngIf="serverIpName.errors.required">
                  Server IP/Name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Server Type</label>
              <select name="serverType" formControlName="serverType" class="form-control" id="serverType">
                <option value="">choose server type ...</option>
                <option *ngFor=" let type of ServerType" [ngValue]="type">
                  {{type}}
                </option>
              </select>
              <div *ngIf="serverType.invalid && (serverType.dirty || serverType.touched)" class="danger-color">
                <div *ngIf="serverType.errors.required">
                  Server type name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="control-label">Description</label>
              <angular-editor id="myEditor" formControlName="serverDescription" [config]="editorConfig">
              </angular-editor>
              <div *ngIf="serverDescription.invalid && (serverDescription.dirty || serverDescription.touched)"
                class="danger-color">
                <div *ngIf="serverDescription.errors.required">
                  Server description is required.
                </div>
              </div>
            </div>
          </div>
          <div class="add-lessons-form">
            <ng-container formArrayName="userLogin">
              <ng-container *ngFor="let userLoginForm of userLogin.controls; let i = index">
                <p>#{{i+1}}</p>
                <div class="form-row" [formGroup]="userLoginForm">
                  <div class="form-group col-md-5">
                    <label for="userName" class="control-label">User name</label>
                    <input formControlName="userName" type="text" class="form-control" placeholder="user name">
                    <div
                      *ngIf="userLoginForm.get('userName').invalid && (userLoginForm.get('userName').dirty || userLoginForm.get('userName').touched)"
                      class="col-sm-12 danger-color">
                      <div *ngIf="userLoginForm.get('userName').errors.required">
                        User name is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="userName" class="control-label">Password</label>
                    <input formControlName="password" type="text" class="form-control" placeholder="password">
                    <div
                      *ngIf="userLoginForm.get('password').invalid && (userLoginForm.get('password').dirty || userLoginForm.get('password').touched)"
                      class="col-sm-12 danger-color">
                      <div *ngIf="userLoginForm.get('password').errors.required">
                        Password is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-2 delete-block">
                    <button class="btn dangerBtn" (click)="deleteUserLogin(i)">
                      <i class="fas fa-trash fa-lg"></i>
                    </button>
                  </div>
                </div>
                <hr>
              </ng-container>
            </ng-container>
            <button type="button" class="btn saveBtn" (click)="addUserLogin()">
              <i class="fas fa-plus-circle"></i>
            </button>
          </div>
          <div class="form-row" style="float: right;">
            <div class="form-group mr-2">
              <button type="button" class="btn cancelBtn btn-cancel" (click)="alertCancelAddServer()">Cancel</button>
            </div>
            <div class="form-group">
              <button type="submit" class="btn saveBtn" [disabled]="!serverForm.valid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="isShow">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            Detail Server
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form *ngIf="serverDetails">
          <div class="form-row">
            <div class="form-group col-md-6">
              <h6>Server IP/Name</h6>
              <p class="secondary-color">{{ serverDetails.serverIpName ? serverDetails.serverIpName : '-' }}</p>
            </div>
            <div class="form-group col-md-6">
              <h6>Server type</h6>
              <p class="secondary-color">{{ serverDetails.serverType ? serverDetails.serverType : '-' }}</p>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <h6>Server description</h6>
              <angular-editor id="myEditor" [config]="detailConfig" [(ngModel)]="serverDetails.serverDescription"
                [ngModelOptions]="{standalone: true}">
              </angular-editor>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <h6>User</h6>
              <div *ngFor="let user of serverDetails.userLogin; let i = index">
                <p class="secondary-color">
                  #{{i+1}}
                  user name: {{ user.userName }},
                  password: {{ user.password }}
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>