<div class="container-fluid">
  <section id="minimal-statistics">
    <div class="row mt-3 mb-1 searchbar-customer">
      <div class="col-xl-4 col-md-4 col-sm-6 col-6">
        <h5 class="primary-color">
          <i class="fas fa-layer-group"></i>
          Product
        </h5>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-6 col-6 my-ticket">
        <button routerLink="/add-product" class="btn saveBtn">
          <i class="fas fa-plus-square fa-lg mx-2"></i>Add Product
        </button>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12 col-12">
        <div class="form-group has-search mb-2">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="search" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
            (keyup)="search()" placeholder="Search name">
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container-fluid">
  <div class="pricing-header mx-auto">
    <div class="table-responsive" *ngIf="hideWhenNoStaff">
      <table class="table table-striped table-responsive-sm table-responsive-md table-responsive-lg bg-white">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of Product ; let i = index;">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{getActive(product)}}</td>
            <td>
              <a [routerLink]="['/edit-product', product.$uid]">
                <i class="fas fa-pen fa-lg warning-color " style="padding: 0.5em 0.6em;"></i>
              </a>
              <a (click)="alertDeleteProduct(product)">
                <i class="fas fa-trash fa-lg danger-color"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="Product?.length === 0">
    <div class="alert alert-warning" role="alert">
      <strong>Product you searched for could not be found.</strong>
    </div>
  </div>
</div>