<app-navbar></app-navbar>
<main>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-2 d-md-block bg-white sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active">
                <i class="fas fa-plus"></i>Add Student
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active">
                <i class="fas fa-list-ul"></i>Students List
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</main>