.accepted {
    background: orange;
    border: none;
    border-radius: 5px;
    color: white;
}

.accepted.active {
    background: rgb(255, 202, 103);
    color: white;
}

.assigned{
    background: slategray;
    border: none;
    border-radius: 5px;
    color: white;
}

.assigned.active {
    background: rgb(165, 174, 184);
    color: white;
}

.total {
    background:cadetblue;
    border: none;
    border-radius: 5px;
    color: white;
}

.total.active {
    background: rgb(142, 174, 175);
    color: white;
}

.dd {
    margin-bottom: 5px;
}

.status {
    width: 144px;
    background-color: #6ba3b4;
    color: white;
    height: 30px;
    padding: 3px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
