<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            <i class="fas fa-ticket-alt"></i>
            New Ticket
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="addTicketForm" (ngSubmit)="addTicketData()" *ngIf="site$ | async; else loading; let Site">
          <div class="form-row" *ngIf="auth.isSupporter(user)">
            <div class="form-group col-md-6">
              <label class="control-label" for="date">Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="Select a date" angular-mydatepicker name="date"
                  formControlName="date" [options]="myOptions" #dp="angular-mydatepicker">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                    <i class="fas fa-calendar"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="date.invalid && (date.dirty || date.touched)" class="danger-color">
                <div *ngIf="date.errors.required">
                  Date is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="source">Source</label>
              <select name="source" formControlName="source" class="form-control" id="source">
                <option value="">choose source...</option>
                <option *ngFor="let source of Sources" [ngValue]="source.name">
                  {{ source.name }}
                </option>
              </select>
              <div *ngIf="source.invalid && (source.dirty || source.touched)" class="danger-color">
                <div *ngIf="source.errors.required">
                  Source is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="control-label" for="site">Site Name</label>
              <select name="site" formControlName="site" class="form-control" id="site">
                <option value="">choose site...</option>
                <option *ngFor=" let site of Site" [ngValue]="site">
                  {{ site.nameEN? site.nameEN : '-' }}
                </option>
              </select>
              <div *ngIf="site.invalid && (site.dirty || site.touched)" class="danger-color">
                <div *ngIf="site.errors.required">
                  Site name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" for=" creater">Creater</label>
              <select name="creater" formControlName="creater" class="form-control" id="creater">
                <option value="">choose creater...</option>
                <option *ngFor="let user of getCreate()" [ngValue]="user">
                  {{ user }}
                </option>
              </select>
              <div *ngIf="creater.invalid && (creater.dirty || creater.touched)" class="danger-color">
                <div *ngIf="creater.errors.required">
                  Creater is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" *ngIf="isSelectedSite()&&auth.isSupporter(user)">
            <div class="form-group col-md-6">
              <label for="maintenancePackage">Maintenance Package</label>
              <input type=text class="form-control" id="maintenancePackage" placeholder="Maintenance Package"
                value="{{ getMaPackage() }}" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="product">Product</label>
              <input type=text class="form-control" id="product" placeholder="Product" value="{{ getProductName() }}"
                readonly>
            </div>
          </div>
          <div class="form-row" *ngIf="auth.isSupporter(user)">
            <div class="form-group col-md-6">
              <label class="control-label" for="Type">Type</label>
              <select name="Type" formControlName="type" class="form-control" id="type"
                (ngModelChange)="hideTextArea($event)">
                <option value="">choose type...</option>
                <option *ngFor="let type of Types" [ngValue]="type.name">
                  {{ type.name }}
                </option>
              </select>
              <div *ngIf="type.invalid && (type.dirty || type.touched)" class="danger-color">
                <div *ngIf="type.errors.required">
                  Type is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" for="priority">Priority</label>
              <select name="priority" formControlName="priority" class="form-control" id="priority">
                <option value="">choose priority...</option>
                <option *ngFor="let priority of Prioritys" [ngValue]="priority.name">
                  {{ priority.name }}
                </option>
              </select>
              <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="danger-color">
                <div *ngIf="priority.errors.required">
                  Priority is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="control-label" for="module">Module</label>
              <ng-multiselect-dropdown class="container" [placeholder]="'choose module...'" [data]="moduleList"
                id=" module" formControlName="module" [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="form-row dropdownModule">
            <div class="form-group col-md-12">
              <label class="control-label" for="subject">Subject</label>
              <input type="text" formControlName="subject" class="form-control" id="subject" placeholder="Subject"
                required>
              <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="danger-color">
                <div *ngIf="subject.errors.required">
                  Subject is required.
                </div>
                <div *ngIf="subject.errors.maxlength">
                  Subject is less than 50 characters
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="control-label" for="description">Description</label>
              <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="danger-color">
                <div *ngIf="description.errors.required">
                  Description is required.
                </div>
                <div *ngIf="description.errors.maxlength">
                  Description is less than 250 characters
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12" *ngIf="hideResolve">
              <label class="" for="resolve">Resolve Description</label>
              <textarea formControlName="resolveDescription" class="form-control" id="resolveDescription"
                rows="3"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="btn-group btn-save" style="float: right;">
                <button type="submit" class="btn btn-success" *ngIf="auth.isSupporter(user)"
                  [disabled]="!addTicketForm.valid">
                  {{ displaySelectedStatus() }}
                </button>
                <button type="submit" class="btn btn-success" *ngIf="auth.isCustomer(user)"
                  [disabled]="!addTicketForm.valid">
                  Send
                </button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="auth.isSupporter(user)"
                  [disabled]="!addTicketForm.valid">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" *ngIf="auth.isSupporter(user)">
                  <button *ngFor="let status of Status" type="button" class="dropdown-item"
                    (click)="onSelectedStatus(status.value)">
                    {{status.name}}
                  </button>
                </div>
              </div>
              <button type="button" class="btn btn-light btn-cancel" [routerLink]="['/']">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>