<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            <i class="fas fa-ticket-alt"></i>
            New ticket
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="addTicketForm" (ngSubmit)="addTicketData()"
          *ngIf="product$ | async; else loading; let Product">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="date">Date</label>
              <input type="date" formControlName="date" [min]='minDate' [max]='maxDate' class="form-control" id="date"
                placeholder="date">
              <div *ngIf="date.invalid && (date.dirty || date.touched)" class="danger-color">
                <div *ngIf="date.errors.required">
                  Date is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="source">Source</label>
              <select name="source" formControlName="source" class="form-control" id="source">
                <option value="">choose source...</option>
                <option *ngFor="let source of Sources" [ngValue]="source.name">
                  {{ source.name }}
                </option>
              </select>
              <div *ngIf="source.invalid && (source.dirty || source.touched)" class="danger-color">
                <div *ngIf="source.errors.required">
                  Source is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="siteName">Site Name</label>
              <select name="siteName" formControlName="siteName" class="form-control" id="siteName">
                <option value="">choose site...</option>
                <option *ngFor=" let site of Product" [ngValue]="site.initials">
                  {{ site.nameEN? site.nameEN : '-' }}
                </option>
              </select>
              <div *ngIf="siteName.invalid && (siteName.dirty || siteName.touched)" class="danger-color">
                <div *ngIf="siteName.errors.required">
                  Site name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="creater">Creater</label>
              <input type="text" formControlName="creater" class="form-control" id="creater" placeholder="Creater"
                required>
              <div *ngIf="creater.invalid && (creater.dirty || creater.touched)" class="danger-color">
                <div *ngIf="creater.errors.required">
                  Creater is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="maintenancePackage">Maintenance Package</label>
              <input type=text formControlName="maintenancePackage" class="form-control" id="maintenancePackage"
                placeholder="Maintenance Package" required>
              <div *ngIf="maintenancePackage.invalid && (maintenancePackage.dirty || maintenancePackage.touched)"
                class="danger-color">
                <div *ngIf="maintenancePackage.errors.required">
                  Maintenance package is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="product">Product</label>
              <input type=text formControlName="product" class="form-control" id="product" placeholder="Product"
                required>
              <!-- <div *ngIf="product.invalid && (product.dirty || product.touched)" class="danger-color">
                <div *ngIf="product.errors.required">
                  Product is required.
                </div>
              </div> -->
            </div>
            <div class="form-group col-md-12">
              <label for="module">Module</label>
              <div class="input-group mb-2">
                <input type="text" formControlName="module" class="form-control" placeholder="Module"
                  aria-label="Module" aria-describedby="button-addon2">
                <a class=" btn btn-primary" href="">
                  <i class="fas fa-plus custom-fa-plus"></i>
                </a>
              </div>
              <div *ngIf="module.invalid && (module.dirty || module.touched)" class="danger-color">
                <div *ngIf="module.errors.required">
                  Module is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Type">Type</label>
              <select name="Type" formControlName="type" class="form-control" id="type"
                (ngModelChange)="hideTextArea($event)">
                <option value="">choose type...</option>
                <option *ngFor="let type of Types" [ngValue]="type.name">
                  {{ type.name }}
                </option>
              </select>
              <div *ngIf="type.invalid && (type.dirty || type.touched)" class="danger-color">
                <div *ngIf="type.errors.required">
                  Type is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="priority">Priority</label>
              <select name="priority" formControlName="priority" class="form-control" id="priority">
                <option value="">choose priority...</option>
                <option *ngFor="let priority of Prioritys" [ngValue]="priority.name">
                  {{ priority.name }}
                </option>
              </select>
              <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="danger-color">
                <div *ngIf="priority.errors.required">
                  Priority is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="subject">Subject</label>
              <input type="text" formControlName="subject" class="form-control" id="subject" placeholder="Subject"
                required>
              <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="danger-color">
                <div *ngIf="subject.errors.required">
                  Subject is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="description">Description</label>
              <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="danger-color">
                <div *ngIf="description.errors.required">
                  Description is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12" *ngIf="hideResolve">
              <label for="resolve">Resolve Description</label>
              <textarea formControlName="resolveDescription" class="form-control" id="resolveDescription"
                rows="3"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="btn-group btn-save" style="float: right;">
                <button type="submit" class="btn btn-success" [disabled]="!addTicketForm.valid">
                  Save {{ displaySelectedStatus() }}
                </button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="!addTicketForm.valid">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button *ngFor="let status of Status" type="button" class="dropdown-item"
                    (click)="onSelectedStatus(status.value)">
                    {{status.name}}
                  </button>
                </div>
              </div>
              <button type="button" class="btn btn-light btn-cancel" [routerLink]="['/']">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>