<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header text-left primary-color bg-white">
        <div class="header content">
          <h5>
            <i class="fas fa-user-tie"></i>
            New Customer
          </h5>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="register()" *ngIf="site$ | async; let Site">
          <div class="form-row" >
            <div class="form-group col-md-6">
              <label class="control-label" >Email</label>
              <div class="input-group">
                <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email"
                       required (ngModelChange)="checkEmailExist()">
              </div>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="col-sm-12 danger-color">
                <div *ngIf="email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="email.errors.email">
                  Email doesn't look quite right
                </div>
              </div>
              <div *ngIf="userForm.controls.email.value && validateEmail()" class="col-sm-12">
                <p class="success-color" *ngIf="!emailAlreadyExists">{{userForm.controls.email.value}} is available</p>
                <p class="danger-color" *ngIf="emailAlreadyExists">{{userForm.controls.email.value}} has already been taken</p>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" >Site</label>
              <select name="site" formControlName="site" class="form-control" id="site"
                      (ngModelChange)="getSiteId($event)">
                <option value="">choose site...</option>
                <option *ngFor=" let site of Site" [ngValue]="site.initials">
                  {{ site.nameEN? site.nameEN : '-' }}
                </option>
              </select>
              <input type="hidden" >
              <div *ngIf="site.invalid && (site.dirty || site.touched)" class="danger-color">
                <div *ngIf="site.errors.required">
                  Site name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" >
            <div class="form-group col-md-6">
              <label class="control-label" >Name</label>
              <div class="input-group">
                <input type="text" formControlName="firstName" class="form-control" id="name" placeholder="Name"
                       required>
              </div>
              <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="col-sm-12 danger-color">
                <div *ngIf="firstName.errors.required">
                  Name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" >Last name</label>
              <div class="input-group">
                <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last name"
                       required>
              </div>
              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="col-sm-12 danger-color">
                <div *ngIf="lastName.errors.required">
                  Last name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" >
            <div class="form-group col-md-6">
              <label class="control-label" >Mobile number</label>
              <div class="input-group">
                <input type="tel" formControlName="mobileNumber" class="form-control" id="mobileNumber" placeholder="Mobile number"
                       required>
              </div>
              <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="col-sm-12 danger-color">
                <div *ngIf="mobileNumber.errors.required">
                  Mobile number is required.
                </div>
                <div *ngIf="mobileNumber.errors.pattern">
                  Mobile number doesn't look quite right
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" >
            <div class="col-md-12 col-centered">
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" formControlName="keyMan">
                    Keyman<i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" style="float: right;">
            <div class="form-group mr-2">
              <button type="button" class="btn cancelBtn btn-cancel" (click)="alertCancelAddCustomer()">Cancel</button>
            </div>
            <div class="form-group">
              <button type="submit" class="btn saveBtn" [disabled]="!userForm.valid || emailAlreadyExists">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
