.informed {
    background-color: white;;
    border: none;
    border-radius: 5px;
    color: black;
}

.informed-badge {
    background-image: linear-gradient(to right, #3096E7 20%,  #FFBE96 100%);
    border: none;
    border-radius: 5px;
    color: white;
}

.informed.active {
    background-image: linear-gradient(to right, #3096E7 20%,  #FFBE96 100%);
    color: white;
}

.moreinfo {
    background-color: white;;
    border: none;
    border-radius: 5px;
    color: black;
}

.moreinfo-badge {
    background-color:  #FFBE96;
    border: none;
    border-radius: 5px;
    color: white;
}

.moreinfo.active {
    background-color:  #FFBE96;
    color: white;
}

.accept {
    background-color: white;;
    border: none;
    border-radius: 5px;
    color: black;
}

.accept-badge {
    background-image: linear-gradient(to right, #3096E7 30%, #2ED0B9 70%);
    border: none;
    border-radius: 5px;
    color: white;
}


.accept.active {
    background-image: linear-gradient(to right, #3096E7 30%, #2ED0B9 70%);
    color: #ffff;
}

.done {
    background-color: white;;
    border: none;
    border-radius: 5px;
    color: black;
}

.done-badge {
    background-color: #2ED0B9;
    border: none;
    border-radius: 5px;
    color: white;
}

.done.active {
    background-color:#2ED0B9;
    color: #ffff;
}

.reject {
    background-color: white;;
    border: none;
    border-radius: 5px;
    color: black;
}

.reject-badge {
    background-color:  #FE8896;
    border: none;
    border-radius: 5px;
    color: white;
}

.reject.active {
    background-color:  #FE8896;
    color: #ffff;
}

.dd {
    margin-bottom: 5px;
}

.status {
    width: 128px;
    font-size: 15px;
    color: white;
    height: 30px;
    padding-top: 7px;
    text-align: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.paperclip{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px white;
    padding: 0.5em 0.6em;
    background-color: white;
}

.paperclass{
    padding-top: 35px;
    padding-left: 135px;
}

.detail{
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -141px;
    margin-left: -15px;
}